doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    header
      p 问卷管理 &nbsp;
        i.icon-question-sign
    block con
    script(src='/javascript/jquery.js')
    script(src='/javascript/bootstrap.min.js')
    script(src='/javascript/info.js')


